.main{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
  h1{
    text-align: center;
  }
  input[type="text"]{
    width: 385px;
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1.5em;
    /* background: white; */
    background: rgb(241, 240, 240);
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
  }
  button{
    width: 85px;
    height: 40px;
    font-size: 1.5em;
    outline: 0;
    border: none;
    border-radius: 5px;
  }
  .todolist{
    background-color: white;
    width: 500px;
    /* background-color: lightblue; */
    /* margin-top: 20px; */
    margin: 20px auto;
    padding: 10px 40px 10px 0px;
  }
  ul{
    list-style: none;
  }
  li{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 1.3em;
  }
  a{
    float: right;
    text-align: right;
    color: red;
    font-size: 1.2em;
    cursor: pointer;
  }
  .delete{
    background-color: yellow;
    text-align: center;
    padding: 0px 4px 0px 4px;
    /* color: white; */
    cursor: pointer;
  }
  /* -------------------------------- SL ------------------------------------ */
    /* SL */
  input:focus {
    border: thin solid rgb(0, 136, 255);
  }
    /* SL */
  button:hover {
    background-color: rgb(0, 106, 255);
    color: white;
  }
  #wrap {
    overflow: hidden;
    min-width: 1190px;
  }
  #container {
    /* copy from: naver homepage */
    position: relative;
    width: 1130px;
    padding: 20px 30px;
    margin: 0 auto;
    letter-spacing: -.2px;
  }
  .column_left {
    background-color: brown;
    width: 500px;
    float: left;
    margin: 0 auto;
  }
  .column_center {
    /* float: right; */
    width: 600px;
  }
 
